/* About section */
html {
  font-family: "Nunito Sans", wingdings, "PT Sans", Helvetica, Arial, sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100,
    "YTLC" 500;
}
.sidebar-about h1 {
    font-family: "Quando", "Abril Fatface", serif;
    font-weight: bold;
    font-size: 2.75rem;
  }