{% extends "index.html" %}

{% block sidebar_nav %}
    {% for toc_item in section.toc %}
    <li class="sidebar-nav-item">
        <a href="{{toc_item.permalink}}">{{toc_item.title}}</a>
    </li>
    {% endfor %}
{% endblock sidebar_nav %}

{% block content %}
    {{ section.description | safe }}
    {{ section.content | safe }}
{% endblock %}